<head>
    <base href="/">
    <title>Fits - Men's Fashion items curated daily</title>
    <link rel="shortcut icon" href="logo2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <script src="moment/moment.js"></script>
    <script src="bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
    <script src="slick-carousel/slick/slick.js"></script>
    <script src="jquery.inview/jquery.inview.js"></script>
    <script src="jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick-carousel/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-ui-1.11.4.custom/jquery-ui.css"/>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68456013-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="//load.sumome.com/" data-sumo-site-id="8be10cdbec2d06b717ae784fca59146595a70d308829608058e21bf01deb3414" async="async"></script>
</head>
<body>
    <div ui-view class="content"></div>
</body>
