<template name="change-profile.html">
    <div class="modal fade" id="modalChangeProfile" ng-controller="ProfileCtrl" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-close"></i>
                    </button>
                    <p class="text-center">Update Your Profile</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <form role="form" ng-submit="updateUser()">
                                <div class="form-group form-field">
                                    <label for="name">Name:</label>
                                    <input type="name" ng-model="user.name" class="form-control" id="name">
                                </div>
                                <div class="form-group form-field">
                                    <label for="email">Email address:</label>
                                    <input type="email" ng-change="hide('#existantEmail, #emailFormatError')"
                                           ng-model="user.email"
                                           class="form-control" id="email">
                                    <span class="warning" id="emailFormatError">Wrong email format!</span>
                                    <span class="warning" id="existantEmail">User with this email already exists!</span>
                                </div>
                                <div class="form-group form-inline form-field">
                                    <input id="change-password" type="checkbox" name="changeImage" value="true"
                                           ng-model="changeStatus">
                                    <label for="change-password">Change password:</label>

                                    <div class="form-inline form-group col-md-12" style="padding: 5px 0">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <label for="password">Current Password:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" ng-model="user.password" class="form-control"
                                                   id="password" ng-change="hide('#wrongPassword')" ng-disabled="!changeStatus">
                                        </div>
                                    </div>
                                    <div class="form-inline form-group col-md-12" style="padding: 5px 0">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <label form-inline="new-password">New Password:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" ng-model="user.newPassword" class="form-control"
                                                   id="new-password" ng-disabled="!changeStatus">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-inline form-field">
                                    <input id="add-pc" type="radio" name="imageUpload" value="pc" ng-model="method"
                                           checked>
                                    <label for="add-pc">Image upload:</label>
                                    <input type="file" id="add-image-upload" fileread="avatar" accept="image/*"
                                           ng-disabled="method == 'url'">
                                    <label for="add-image-upload" class="help-block">Choose from your computer.</label>

                                    <input id="add-url" type="radio" name="imageUpload" value="url" ng-model="method">
                                    <label for="add-url">Image URL:</label>
                                    <input type="text" class="form-control" id="add-image-url"
                                           ng-model="user.thumbnail" ng-disabled="method == 'pc'">
                                    <img ng-src="[[user.thumbnail]]" height="30px"
                                         ng-if='user.thumbnail'>
                                    <label for="add-image-url" class="help-block">or write URL of your image</label>
                                </div>
                                <div class="form-group">
                                    <span class="warning" id="wrongPassword">Password is invalid!</span>
                                </div>
                                <button type="submit" class="btn btn-default"
                                        ng-disabled="(!user.newPassword && changeStatus)  || (!user.password && changeStatus) || !user.email ||
                                        !user.name || (avatar==null && method=='pc') || (!user.thumbnail && method=='url')">
                                    Update Profile
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</template>