<template name="header.html">
    <div class="header">
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-7 col-sm-8">
                        <div class="inline">
                            <div class="pull-left m-r-20" style="margin-right: 20px">
                                <a href="/" ng-click="goHome()">
                                    <span class="brand-logo"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-4">
                        <div class="pull-right" ng-if="$root.currentUser">
                            <div class="dropdown pull-right">
                                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="thumbnail-wrapper d32 bordered circular inline">
                                            <img ng-src="[[$root.currentUser.profile.thumbnail]]"
                                                 alt="[[$root.currentUser.profile.name]]"
                                                 width="32" height="32">
                                        </span>
                                    <span class="caret m-t-15 m-l-10"></span>
                                </button>
                                <ul class="dropdown-menu profile-dropdown" role="menu">
                                    <li ng-if="isUserNonSocial()">
                                        <a href="" class="clearfix" ng-click="changeProfile()" data-toggle="modal"
                                           data-target="#modalChangeProfile">
                                            <span class="pull-left">Change Profile</span>
                                        </a>
                                    </li>
                                    <li ng-if="isAdmin() || isModerator()">
                                        <a href="/admin" class="clearfix">
                                            <span class="pull-left">Admin Panel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="clearfix" ng-click="logOut()">
                                            <span class="pull-left">Log out</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a class="sign-in-link" ng-if="!$root.currentUser" href="" data-toggle="modal"
                               data-target="#modalSignIn">Login</a>
                            <a class="sign-in-link" href="" data-toggle="modal"
                               data-target="[[$root.currentUser? '#modalAddPeople' : '#modalSignIn']]">
                                Add Post
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>