<template name="navbar.html">
	<div class="navigation">
		<a href="/">
			<h1>Fits</h1>
		</a>
		<meteor-include src="loginButtons" style="float: right;padding-right: 30px;padding-top: 17px;"></meteor-include>
	</div>
</template>