<template name="verify-password.html" xmlns="http://www.w3.org/1999/html">
    <div class="page-container">
        <div class="container">
            <div class="row">
                    <div class="col-xs-12 text-center" style="padding: 200px 0">
                    <div class="subscription-inner">
                        <form ng-submit="setUpNewPassword(restoreEmail)" role="form"
                              autocomplete="off" novalidate="novalidate">
                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-3 col-xs-12">
                                    <div class="inner text">
                                        New Password:
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="inner">
                                        <input class="form-control" maxlength="254" name="email"
                                               placeholder="Email" ng-model="newPassword" required="required"
                                               type="password"
                                               aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-3 col-xs-12">
                                    <div class="inner text">
                                        Repeat New Password:
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="inner">
                                        <input class="form-control" maxlength="254" name="email"
                                               placeholder="Email" ng-model="newPasswordRepeat" required="required"
                                               type="password"
                                               aria-required="true">
                                    </div>
                                    <span id="password-restore-error" class="warning">Passwords don't match!</span>
                                </div>
                            </div>
                            <div style="padding: 5px 0">
                                <button class="btn btn-animated btn-rounded btn-default p-l-30 p-r-30"
                                        type="submit" ng-disabled="!isInputsValid()">Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="setupComplete" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title text-center" id="gridSystemModalLabel">Confirmation!</h2>
                </div>
                <div class="modal-body text-center" style="font-size: 16pt;">
                    [[message]]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>
