<template name="verify-account.html" xmlns="http://www.w3.org/1999/html">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="padding: 200px 0">
                    <h4>[[message]]</h4>
                </div>
            </div>
        </div>
    </div>
</template>
