@font-face {
    font-family: "museo-sans";
    src: url("/OpenSans-Light.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "museo-sans";
    src: url("/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "museo-sans";
    src: url("/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "museo-sans";
    src: url("/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "museo-sans";
    src: url("/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'followhunt';
    src: url('/followhunt.eot?');
    src: url('/followhunt.eot?#iefix') format('embedded-opentype'),
    url('/followhunt.woff?') format('woff'),
    url('/followhunt.ttf?') format('truetype'),
    url('/followhunt.svg?#followhunt') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "followhunt";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-backdrop.in {
    opacity: 0.30;
}

.icon-producthunt:before {
    content: '\e800';
}

/* '?' */
.icon-twitter:before {
    content: '\e801';
}

/* '?' */
.icon-facebook:before {
    content: '\e802';
}

/* '?' */
.icon-facebook-squared:before {
    content: '\e803';
}

/* '?' */
.icon-twitter-squared:before {
    content: '\e804';
}

/* '?' */
.icon-youtube:before {
    content: '\e805';
}

/* '?' */
.icon-youtube-squared:before {
    content: '\e806';
}

/* '?' */
.icon-youtube-play:before {
    content: '\e807';
}

/* '?' */
.icon-google-plus-squared:before {
    content: '\e808';
}

/* '?' */
.icon-google-plus:before {
    content: '\e809';
}

/* '?' */
.icon-instagram:before {
    content: '\e80a';
}

/* '?' */
.icon-soundcloud:before {
    content: '\e80b';
}

/* '?' */
.icon-plus:before {
    content: '\e80c';
}

/* '?' */
.icon-plus-circled:before {
    content: '\e80d';
}

/* '?' */
.icon-reply:before {
    content: '\e80e';
}

/* '?' */
.icon-comment:before {
    content: '\e80f';
}

/* '?' */
.icon-comment-empty:before {
    content: '\e810';
}

/* '?' */
.icon-angle-up:before {
    content: '\e811';
}

/* '?' */
.icon-angle-down:before {
    content: '\e812';
}

/* '?' */
.icon-vote-up:before {
    content: '\e813';
}

/* '?' */
.icon-dribbble:before {
    content: '\e814';
}

/* '?' */
.icon-behance:before {
    content: '\e815';
}

/* '?' */
.icon-behance-squared:before {
    content: '\e816';
}

/* '?' */
.icon-github:before {
    content: '\e817';
}

/* '?' */
.icon-github-squared:before {
    content: '\e818';
}

/* '?' */
.icon-github-circled:before {
    content: '\e819';
}

/* '?' */
.icon-vimeo-squared:before {
    content: '\e81a';
}

/* '?' */
.icon-flickr:before {
    content: '\e81b';
}

/* '?' */
.icon-twitch:before {
    content: '\e81c';
}

/* '?' */
.icon-link:before {
    content: '\e81d';
}

/* '?' */
.icon-close:before {
    content: '\e81e';
}

/* '?' */
.icon-tags:before {
    content: '\e81f';
}

/* '?' */
.icon-tag:before {
    content: '\e820';
}

/* '?' */
.icon-social_url:before {
    content: '\e81d';
}

/* '?' */

/* Responsive Handlers: Modals
------------------------------------
*/
/*@media (max-width: 768px) {*/
/*.modal.fill-in .modal-dialog {*/
/*padding: 0;*/
/*margin: 0;*/
/*width: 100%;*/
/*}*/
/*.modal.slide-up .modal-dialog {*/
/*padding: 0;*/
/*margin: 0;*/
/*width: 100%;*/
/*}*/
/*}*/
/*@media (min-width: 768px) {*/
/*.modal.stick-up .modal-dialog {*/
/*margin: -5px auto;*/
/*}*/
/*.modal.slide-up .modal-dialog {*/
/*margin: 0 auto;*/
/*}*/
/*.modal.fill-in .modal-dialog {*/
/*margin: 0 auto;*/
/*}*/
/*.modal .modal-content {*/
/*box-shadow: none;*/
/*}*/
/*}*/
@media (max-width: 991px) {
    .header {
        padding: 0 10px;
        width: 100%;
        background: #fff !important;
    }

    .header .header-inner .toggle-sidebar {
        display: block;
        position: absolute;
        left: 23px;
    }

    .header .header-inner .mark-email {
        left: 45px;
        position: absolute;
        top: 23px;
    }

    .header > .pull-left,
    .header > .pull-right {
        position: relative;
    }

    .header > .pull-right .sm-action-bar {
        right: 0;
    }
}

/* Landscape view of all tablet devices */
@media (max-width: 991px) {
    .sm-b-r,
    .sm-b-l,
    .sm-b-t,
    .sm-b-b {
        border-width: 0;
    }

    .sm-b-r {
        border-right-width: 1px;
    }

    .sm-b-l {
        border-left-width: 1px;
    }

    .sm-b-t {
        border-top-width: 1px;
    }

    .sm-b-b {
        border-bottom-width: 1px;
    }

    a.brand-logo,
    .brand-logo {
        font-size: 40px;
        line-height: 50px;
        height: 60px;
        width: 60px;
    }

    .brand-name {
        font-size: 26px;
    }

    .brand-slogan {
        font-size: 16px;
    }

    .subscription-inner .text {
        padding: 0;
        margin-bottom: 10px;
    }
}

/* Portrait view of all tablet devices */
@media (max-width: 767px) {
    .login-html {
        padding: 10px 10px 10px 10px !important;
    }

    #modalPeopleDetail .modal-dialog,
    #modalAddPeople .modal-dialog {
        width: 100%;
    }

    .header {
        height: 48px;
    }

    .header .header-inner {
        height: 48px;
    }

    .icon-thumbnail {
        margin-right: 20px;
    }

    .sm-pull-bottom,
    .sm-pull-up {
        position: relative !important;
    }

    .sm-p-t-0 {
        padding-top: 0px !important;
    }

    .sm-p-r-0 {
        padding-right: 0px !important;
    }

    .sm-p-l-0 {
        padding-left: 0px !important;
    }

    .sm-p-b-0 {
        padding-bottom: 0px !important;
    }

    .sm-padding-0 {
        padding: 0px !important;
    }

    .sm-p-t-5 {
        padding-top: 5px !important;
    }

    .sm-p-r-5 {
        padding-right: 5px !important;
    }

    .sm-p-l-5 {
        padding-left: 5px !important;
    }

    .sm-p-b-5 {
        padding-bottom: 5px !important;
    }

    .sm-padding-5 {
        padding: 5px !important;
    }

    .sm-p-t-10 {
        padding-top: 10px !important;
    }

    .sm-p-r-10 {
        padding-right: 10px !important;
    }

    .sm-p-l-10 {
        padding-left: 10px !important;
    }

    .sm-p-b-10 {
        padding-bottom: 10px !important;
    }

    .sm-padding-10 {
        padding: 10px !important;
    }

    .sm-p-t-15 {
        padding-top: 15px !important;
    }

    .sm-p-r-15 {
        padding-right: 15px !important;
    }

    .sm-p-l-15 {
        padding-left: 15px !important;
    }

    .sm-p-b-15 {
        padding-bottom: 15px !important;
    }

    .sm-padding-15 {
        padding: 15px !important;
    }

    .sm-p-t-20 {
        padding-top: 20px !important;
    }

    .sm-p-r-20 {
        padding-right: 20px !important;
    }

    .sm-p-l-20 {
        padding-left: 20px !important;
    }

    .sm-p-b-20 {
        padding-bottom: 20px !important;
    }

    .sm-padding-20 {
        padding: 20px !important;
    }

    .sm-p-t-25 {
        padding-top: 25px !important;
    }

    .sm-p-r-25 {
        padding-right: 25px !important;
    }

    .sm-p-l-25 {
        padding-left: 25px !important;
    }

    .sm-p-b-25 {
        padding-bottom: 25px !important;
    }

    .sm-padding-25 {
        padding: 25px !important;
    }

    .sm-p-t-30 {
        padding-top: 30px !important;
    }

    .sm-p-r-30 {
        padding-right: 30px !important;
    }

    .sm-p-l-30 {
        padding-left: 30px !important;
    }

    .sm-p-b-30 {
        padding-bottom: 30px !important;
    }

    .sm-padding-30 {
        padding: 30px !important;
    }

    .sm-p-t-35 {
        padding-top: 35px !important;
    }

    .sm-p-r-35 {
        padding-right: 35px !important;
    }

    .sm-p-l-35 {
        padding-left: 35px !important;
    }

    .sm-p-b-35 {
        padding-bottom: 35px !important;
    }

    .sm-padding-35 {
        padding: 35px !important;
    }

    .sm-p-t-40 {
        padding-top: 40px !important;
    }

    .sm-p-r-40 {
        padding-right: 40px !important;
    }

    .sm-p-l-40 {
        padding-left: 40px !important;
    }

    .sm-p-b-40 {
        padding-bottom: 40px !important;
    }

    .sm-padding-40 {
        padding: 40px !important;
    }

    .sm-p-t-45 {
        padding-top: 45px !important;
    }

    .sm-p-r-45 {
        padding-right: 45px !important;
    }

    .sm-p-l-45 {
        padding-left: 45px !important;
    }

    .sm-p-b-45 {
        padding-bottom: 45px !important;
    }

    .sm-padding-45 {
        padding: 45px !important;
    }

    .sm-p-t-50 {
        padding-top: 50px !important;
    }

    .sm-p-r-50 {
        padding-right: 50px !important;
    }

    .sm-p-l-50 {
        padding-left: 50px !important;
    }

    .sm-p-b-50 {
        padding-bottom: 50px !important;
    }

    .sm-padding-50 {
        padding: 50px !important;
    }

    .sm-m-t-5 {
        margin-top: 5px !important;
    }

    .sm-m-r-5 {
        margin-right: 5px !important;
    }

    .sm-m-l-5 {
        margin-left: 5px !important;
    }

    .sm-m-b-5 {
        margin-bottom: 5px !important;
    }

    .sm-m-t-10 {
        margin-top: 10px !important;
    }

    .sm-m-r-10 {
        margin-right: 10px !important;
    }

    .sm-m-l-10 {
        margin-left: 10px !important;
    }

    .sm-m-b-10 {
        margin-bottom: 10px !important;
    }

    .sm-m-t-15 {
        margin-top: 15px !important;
    }

    .sm-m-r-15 {
        margin-right: 15px !important;
    }

    .sm-m-l-15 {
        margin-left: 15px !important;
    }

    .sm-m-b-15 {
        margin-bottom: 15px !important;
    }

    .sm-m-t-20 {
        margin-top: 20px !important;
    }

    .sm-m-r-20 {
        margin-right: 20px !important;
    }

    .sm-m-l-20 {
        margin-left: 20px !important;
    }

    .sm-m-b-20 {
        margin-bottom: 20px !important;
    }

    .sm-m-t-25 {
        margin-top: 25px !important;
    }

    .sm-m-r-25 {
        margin-right: 25px !important;
    }

    .sm-m-l-25 {
        margin-left: 25px !important;
    }

    .sm-m-b-25 {
        margin-bottom: 25px !important;
    }

    .sm-m-t-30 {
        margin-top: 30px !important;
    }

    .sm-m-r-30 {
        margin-right: 30px !important;
    }

    .sm-m-l-30 {
        margin-left: 30px !important;
    }

    .sm-m-b-30 {
        margin-bottom: 30px !important;
    }

    .sm-m-t-35 {
        margin-top: 35px !important;
    }

    .sm-m-r-35 {
        margin-right: 35px !important;
    }

    .sm-m-l-35 {
        margin-left: 35px !important;
    }

    .sm-m-b-35 {
        margin-bottom: 35px !important;
    }

    .sm-m-t-40 {
        margin-top: 40px !important;
    }

    .sm-m-r-40 {
        margin-right: 40px !important;
    }

    .sm-m-l-40 {
        margin-left: 40px !important;
    }

    .sm-m-b-40 {
        margin-bottom: 40px !important;
    }

    .sm-m-t-45 {
        margin-top: 45px !important;
    }

    .sm-m-r-45 {
        margin-right: 45px !important;
    }

    .sm-m-l-45 {
        margin-left: 45px !important;
    }

    .sm-m-b-45 {
        margin-bottom: 45px !important;
    }

    .sm-m-t-50 {
        margin-top: 50px !important;
    }

    .sm-m-r-50 {
        margin-right: 50px !important;
    }

    .sm-m-l-50 {
        margin-left: 50px !important;
    }

    .sm-m-b-50 {
        margin-bottom: 50px !important;
    }

    .sm-no-margin {
        margin: 0;
    }

    .sm-no-padding {
        padding: 0;
    }

    .sm-text-right {
        text-align: right !important;
    }

    .sm-text-left {
        text-align: left !important;
    }

    .sm-text-center {
        text-align: center !important;
    }

    .sm-pull-right {
        float: right !important;
    }

    .sm-pull-left {
        float: left !important;
    }

    .sm-pull-reset {
        float: none !important;
    }

    .sm-block {
        display: block;
    }

    .error-container {
        width: auto;
    }

    .sm-image-responsive-height {
        width: 100%;
        height: auto;
    }

    .people-item-title {
        font-size: 18px !important;
    }

    .people-item-about {
        font-size: 13px;
    }

    .people-item-title small {
        display: block;
        color: #5D5D5D;
        margin-top: 3px;
    }

    .social-filter {
        margin: 10px 0 30px 0;
    }

    .btn-social-filter {
        margin: 0 7px;
    }

    .header .header-inner {
        padding: 10px 0;
    }

    .container {
        padding: 0;
        margin: 0 auto;
        width: 94%;
    }

    .people-item {
        padding: 5px;
    }

    .people-item-cell2 {
        padding: 0 5px !important;
    }

    .people-item-cell3 {
        min-width: 40px;
    }

    .header-inner .m-r-20 {
        margin-right: 10px;
    }

    a.brand-logo,
    .brand-logo {
        font-size: 40px;
        line-height: 50px;
        height: 60px;
        width: 60px;
    }

    .brand-name {
        font-size: 26px;
    }

    .brand-slogan {
        font-size: 14px;
    }

    #modalSignIn .modal-header p {
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
    }

    #modalAfterRegister h3 {
        font-size: 28px;
    }

    #modalAfterRegister p {
        font-size: 16px;
    }

    .ph-welcome-text {
        width: 80%;
        margin: 0 auto 20px auto;
    }

    .subscription-inner .text {
        padding: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .brand-text {
        display: none;
    }
}

/*** Phones ***/
@media (max-width: 480px) {
    body {
        width: 100%;
    }

    body .header {
        width: 100%;
        height: 48px;
    }

    body .header .header-inner {
        height: 48px;
    }

    .brand-text {
        display: none;
    }

    a.brand-logo,
    .brand-logo {
        font-size: 40px;
        line-height: 50px;
        height: 60px;
        width: 60px;
    }

    .btn-social-filter {
        margin: 0 5px;
    }

    .btn-social-filter i {
        font-size: 20px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        height: 40px;
        width: 40px;
        padding: 0;
    }

    .tag {
        font-size: 10px;
    }

    .people-item-cell3 {
        padding: 0 5px;
    }

    .people-item-ava {
        height: 40px!important;
        width: 60px!important;
    }

    .people-item-tags {
        margin: 0 !important;
    }

    .people-item-title {
        white-space: normal!important;
    }

    .modal-open .add-people-form {
        padding: 0 5px 60px 5px!important;
    }

    .login-html {
        padding: 30px 10px 10px 10px !important;
    }

    .people-votes {
        width: 100%;
        margin: 0;
    }

    .people-votes .people-item-votes-count {
        margin-left: 0 !important;
    }

    .people .people-cover .people-ava img {
        height: 90px !important;
        width: 135px !important;
        margin-bottom: 20px;
    }

    #user-details {
        top: 60px!important;
    }

    .form-group-cr {
        padding: 10px 0!important;
        display: block!important;
    }

    .form-group-r {
        display: block!important;
    }
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background-color: #3d4c74;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-wrap .close-button {
    text-align: right;
    font-size: 24px;
}
.login-wrap .close-button a, .login-wrap .close-button a:hover {
    margin: 10px;
    color: #FFFFFF;
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px 70px 50px 70px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
}

.login-html .sign-up-htm .hr {
    margin: 20px 0;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    color: #6a6f8c;
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
    font-family: Arial;
    font-size: 13.3333px;
    line-height: normal;
    font-weight: normal;
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    line-height: 18px;
    margin: 0;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group .button:disabled {
    background: #3F6492;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
    -webkit-transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
    -webkit-transform: scale(0) rotate(0);
}

.login-form .group .check:checked ~ label {
    color: #fff;
    line-height: 18px;
}

.login-form .group label {
    margin-bottom: 0;
    color: #6a6f8c;
}

.login-form .group .check:checked ~ label .icon {
    background: #1161ee;
}

.login-form .group .check:checked ~ label .icon:before {
    transform: scale(1) rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked ~ label .icon:after {
    transform: scale(1) rotate(-45deg);
    -webkit-transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked ~ .tab ~ .sign-up ~ .tab ~ .login-form .sign-in-htm {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}

.login-html .sign-up:checked ~ .tab ~ .login-form .sign-up-htm {
    transform: rotate(0);
    -webkit-transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 50px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

.foot-lnk label, .foot-lnk a {
    color: #6a6f8c;
    cursor: pointer;
}

.warning {
    color: #CC6868;
    display: none;
    font-size: 10pt;
}

.social-buttons {
    text-align: center;
}