body, html
  height: 100%
  font-family: "museo-sans", Helvetica, Arial, sans-serif
  color: #5D5D5D

button:focus
  outline: none !important

h1
  font-size: 26px
  font-weight: bold

a, a:focus, a:hover, a:active
  outline: 0 !important
  text-decoration: none

#login-dropdown-list
  position: relative
  padding-bottom: 24px
  top: -5px

.navigation
  height: 54px
  background-color: #2b3844
  box-shadow: 0px 15px 15px #252833
  z-index: 1000
  position: fixed
  left: 0
  right: 0

.navigation h1
  font-size: 19px
  margin-top: 0
  font-weight: 600
  color: #ffffff
  padding: 16px 0 0 18px
  float: left

.navigation a
  text-decoration: none

#left-menu
  width: 240px
  z-index: 1
  position: fixed
  min-height: 100%
  background-color: #3A4B55

#left-menu ul
  padding-left: 0
  margin-top: 60px

#left-menu ul li
  color: #ffffff
  height: 44px
  background-color: #3A4B55
  list-style-type: none
  border-top: 1px solid #49565D
  border-bottom: 1px solid #49565D
  padding: 13px 40px 14px 14px
  font-family: 'Open Sans', sans-serif
  font-size: 12px
  cursor: pointer

#left-menu ul li:hover
  border-left: 3px solid #65B688
  background-color: #2C3A42

#main-content
  margin: 0 25px 0 265px
  top: 70px
  position: relative
  border: 5px solid rgba(255, 255, 255, 0.1)
  border-radius: 4px
  background-color: rgb(58, 60, 70)

#main-content table.table-striped
  margin-bottom: 0

#main-content table.table-striped tr th
  background-color: rgb(58, 60, 70) !important
  border: none !important
  font-size: 12pt
  color: #ffffff

#main-content table.table-striped tr td
  background-color: rgb(58, 60, 70) !important
  border: none !important
  color: #ffffff

.panel-header
  border-top-left-radius: 2px
  border-top-right-radius: 2px
  padding: 0
  position: relative
  height: 40px
  background-color: #3A4B55
  vertical-align: middle

.header-title
  float: left
  font-size: 12px
  padding: 11px 12px 12px 12px
  color: #ffffff
  margin-top: 0
  margin-bottom: 0
  font-weight: 600

.search-panel
  height: 65px
  background-color: #252833

.search-value
  float: left

.search-value input
  line-height: 1.42857143
  height: 34px
  margin: 14px 14px
  width: auto
  color: white
  outline: 0
  font-weight: 400
  vertical-align: middle
  border: 2px solid rgb(58, 60, 70)
  border-radius: 2px
  background: rgb(58, 60, 70) url('resources/filter.png') no-repeat 95%
  padding: 7px 30px 8px 9px

.select-size
  background: rgb(58, 60, 70) url('resources/down.png') no-repeat 80%
  border: 1px solid rgb(58, 60, 70)
  float: right
  margin: 15px

.select-size select
  color: #ffffff
  height: 34px
  background: transparent
  width: 60px
  padding: 5px
  font-size: 16px
  line-height: 1
  border: 0
  border-radius: 0
  height: 34px
  -webkit-appearance: none

.select-size select option
  background-color: black
  color: #ffffff

.select-size select:focus
  background-color: black
  .select-size
    background: url('resources/up.png') no-repeat 80%

.panel-content
  background-color: rgb(58, 60, 70)

.current-menu-item
  background-color: #2C3A42 !important
  background: url('resources/right.png') no-repeat 90%

.new-row-popup
  background-color: rgb(58, 60, 70)
  color: #808080
  .modal-header
    border-bottom: 1px solid #737171 !important
  .modal-footer
    border-top: 1px solid #737171 !important
  .btn-info
    background-color: #676767
    border-color: #676767
    margin: 5px

.new-row-btn
  margin: 4px

#artist-edit
  padding: 75px 40px 40px 40px
  color: #ffffff
  .btn-info
    background-color: #676767
    border-color: #676767
    margin: 5px

#genres-list
  padding: 7px 0 40px 40px
  color: #ffffff

#genres-list table
  margin-bottom: 0

#genres-list table tr th
  background-color: rgb(58, 60, 70) !important
  border: none !important
  font-size: 12pt
  color: #ffffff

#genres-list table tr td
  background-color: rgb(58, 60, 70) !important
  border: none !important
  color: #ffffff

#new-genre-btn
  margin: 10px 0 10px 0

#new-genre-popup
  background-color: rgb(58, 60, 70) !important
  color: #808080
  .modal-header
    border-bottom: 1px solid #737171 !important
  .modal-footer
    border-top: 1px solid #737171 !important
  .btn-info
    background-color: #676767
    border-color: #676767
    margin: 5px

#artist-sources
  input
    color: #000000
  td
    padding-right: 5px
    padding-bottom: 5px

#event-sources
  input
    color: #000000
  td
    padding-right: 5px
    padding-bottom: 5px

.event-datetime
  float: left

.event-datetime-start
  margin: 0 30px 0 30px

.event-datetime-end
  margin: 0 40px 0 40px

.date-title
  text-align: center

.brand-logo
  display: inline-block
  background: url(logo2.png) no-repeat center
  background-size: 80px 80px
  font-size: 50px
  text-align: center
  height: 80px
  width: 80px

.brand-name
  font-family: "museo-sans", Helvetica, Arial, sans-serif
  color: #000
  font-size: 40px
  font-style: normal
  font-weight: 300
  line-height: 1em
  margin-top: 5px

.brand-slogan
  font-size: 20px
  color: #9C9B9B
  display: inline-block
  font-weight: 100

.category-image
  border-radius: 50%
  width: 46px
  height: 46px

.social-filter
  margin: 20px 0 40px 0

.btn-social-filter
  text-decoration: none !important
  display: inline-block
  margin: 0 15px

.btn-social-filter img
  border-radius: 50%
  display: inline-block
  font-size: 24px
  color: #fff
  text-align: center
  line-height: 46px
  height: 46px
  width: 46px
  opacity: .15

.btn-social-filter-active img
  opacity: 1 !important

.content
  height: 100%

.page-container
  width: 100%
  height: 100%
  background-color: inherit
  overflow-x: hidden

.header
  display: table
  height: auto
  padding: 0
  position: relative
  width: 100%

.header-inner
  display: table-cell
  height: auto
  padding: 30px 0 15px 0

@media (min-width: 1200px)
  .container
    width: 940px

.m-l-10
  margin-left: 10px

.btn-people-add
  display: inline-block
  border-radius: 50%
  border: 3px solid
  font-size: 16px
  line-height: 30px
  text-align: center
  height: 34px
  width: 34px
  margin-top: 2px

.sign-in-link
  font-family: "museo-sans", Helvetica, Arial, sans-serif
  display: inline-block
  margin-top: 8px
  margin-right: 10px
  font-size: 16px
  outline: 0 !important
  text-decoration: none !important
  color: #5D5D5D !important

.container-title
  font-weight: 600
  font-size: 20px
  display: inline-block
  margin: 10px 0 20px 0
  color: #000000

.container-subtitle
  display: inline-block
  font-size: 16px
  color: #5D5D5D
  margin-left: 5px

.people-item
  border-radius: 5px
  cursor: pointer
  padding: 13px 10px
  width: 100%
  margin: 0 0 13px 0
  .people-item-votes-count
    -webkit-transition: all .1s
    transition: all .1s

.people-list
  border: none
  border-collapse: collapse
  display: table
  vertical-align: top
  text-align: left
  width: 100%

.people-item-cell
  border: none
  border-collapse: collapse
  display: table-cell
  vertical-align: middle
  text-align: left
  position: relative
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

.people-item-cell1
  min-width: 20px

.people-item-cell2
  padding: 0 15px 0 10px

.people-item-cell3
  vertical-align: middle
  width: 100%
  .icon-crown
    display: inline-block
    background: url("/icon_crown.png") center center no-repeat
    background-size: cover
    height: 16px
    width: 16px
    margin-left: 4px

.people-item-cell4
  vertical-align: middle
  text-align: center

.people-item-cell5
  vertical-align: middle
  text-align: right
  font-size: 14px
  font-weight: bold

.people-item-title
  color: #131313 !important
  display: inline-block
  font-size: 20px
  line-height: 1
  margin-bottom: 5px
  white-space: nowrap

.people-item-title:hover
  text-decoration: underline

.people-item-ava
  display: inline-block
  border-radius: 5%
  height: 90px
  width: 135px

.people-item-created-by-ava
  border-radius: 50%
  display: inline-block
  height: 36px
  width: 36px

.backend-ava
  display: inline-block
  border: 1px solid
  border-radius: 50%
  height: 42px
  width: 42px

.people-item-created-by
  display: inline-block
  margin-right: 10px
  position: relative

.people-item-votes-count
  display: block
  text-align: center
  margin-top: -5px
  .votes-count
    display: block
    font-size: 13px
    font-weight: 700
    margin-top: -3px

.modal.fade.fill-in.in
  background-color: rgba(255, 255, 255, 0.9)

#modalSignIn p
  font-size: 30px
  line-height: 1.3

.form-field
  text-align: left

#modalAddPeople .modal-dialog
  width: 700px
  .form-group
    margin-bottom: 0

.modal.fade.slide-right.in .modal-dialog
  -webkit-transform: translate3d(0, 0, 0)

.modal.fade.slide-right .modal-dialog
  position: absolute
  right: 0
  margin: 0
  height: 100%
  -webkit-transform: translate3d(100%, 0, 0)
  transform: translate3d(100%, 0, 0)
  -ms-transform: translate(100%, 0)

#modalAddPeople button.close
  font-size: 24px
  position: absolute
  top: 0
  right: 0
  margin: 20px 30px

#modalAddPeople .modal-content-wrapper
  display: block

.modal.fade.slide-right .modal-dialog .modal-content-wrapper
  height: 100%
  min-height: 100%

.modal-open .add-people-header
  padding: 30px 20px
  text-align: center

.add-people-title
  font-size: 26px
  font-weight: bold
  margin-bottom: 15px

.add-people-subtitle
  color: inherit
  font-size: 16px
  font-weight: normal

.modal-open .add-people-form
  padding: 10px 5px
  background-color: white

.add-people-header
  background: #e1584b
  color: #ffffff

.modal-open .add-people-form input
  border: none

.form-group-l
  display: table
  vertical-align: top
  width: 100%

.form-group-r
  display: table-row

.form-group-cl
  display: table-cell
  vertical-align: top
  padding: 20px 0
  width: 100px

.form-group-cr
  border-bottom: 1px solid #ccc
  display: table-cell
  padding: 30px 0
  vertical-align: top
  input
    outline: none

#id_social_url, #id_tags, #edit-name
  width: 100%

#id_social_url:focus, #id_tags:focus
  outline: 0

.bootstrap-tagsinput .tag
  vertical-align: middle
  padding: 6px 6px 6px 9px
  border-radius: 3px
  line-height: 30px
  font-size: 13px

.bootstrap-tagsinput .tag[data-role="remove"]
  margin-left: 4px
  cursor: pointer

.bootstrap-tagsinput .tag[data-role="remove"]:hover:active,
.bootstrap-tagsinput .tag[data-role="remove"]:hover
  box-shadow: none

.bootstrap-tagsinput .tag [data-role="remove"]:after
  font-family: 'followhunt'
  content: "\e81e"
  padding: 0 0 0 5px

.label-info
  background-color: #cf3427
  color: #fff

.modal-open .add-people-form input
  border: none

.modal.fade.slide-right .modal-content
  border-radius: 0px
  border: none

.form-helptext
  text-align: center
  padding: 30px 0 0 0

.form-submit
  text-align: center
  padding: 20px 0 0 0

.form-submit button
  font-size: 16px

.p-l-30
  padding-left: 30px !important

.p-r-30
  padding-right: 30px !important

.btn-animated
  overflow: hidden
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  transform-style: preserve-3d

.btn-rounded
  border-radius: 100px

#modalAddPeople button.close
  font-size: 24px
  position: absolute
  top: 0
  right: 0
  margin: 20px 30px

.modal.fade.slide-right .close
  position: absolute
  top: 0
  right: 0
  margin-right: 10px
  z-index: 10

.btn-default
  outline-width: 0

.btn-default:hover
  background-color: #55acee

.people-item:hover, .theme-google .subscription-inner, .theme-google .featured-inner
  background: #f7fbfe

.people-item:hover .people-item-votes-count
  -webkit-transform: scale(1.2)
  transform: scale(1.2)

.people-item-tags
  font-size: 11px
  text-transform: uppercase
  line-height: 1
  margin-bottom: 15px
  .tag-item
    color: #848484
    background-color: #f8f8f8
    border-radius: 3px
    display: inline-block
    margin: 2px 2px
    .tag
      border-radius: 3px
      display: inline-block
      padding: 3px 5px
      color: #848484
      cursor: pointer
    .tag:hover
      color: #f8f8f8
      background-color: #848484

.list-item:hover
  img
    border-radius: 5%
    -webkit-transition: border-radius 0.5s ease
    -moz-transition: border-radius 0.5s ease
    -o-transition: border-radius 0.5s ease
    -ms-transition: border-radius 0.5s ease
    transition: border-radius 0.5s ease

.list-item
  img
    border-radius: 50%
    -webkit-transition: border-radius 0.5s ease
    -moz-transition: border-radius 0.5s ease
    -o-transition: border-radius 0.5s ease
    -ms-transition: border-radius 0.5s ease
    transition: border-radius 0.5s ease

.subscription
  margin-bottom: 20px
  #subscribe_email:focus
    border-color: #ccc
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    outline: none
  .subscription-inner
    border-radius: 5px
    margin: 0 15px
    padding: 15px 5px
    font-size: 15px
    background: #fdf5f4
    .text
      padding-top: 8px
    .p-l-0
      padding-left: 0
    .p-l-20
      padding-left: 20px !important

#modalPeopleDetail .modal-dialog, #modalAddPeople .modal-dialog
  width: 100%

#modalAddPeople .modal-dialog
  width: 700px

.modal.fade.slide-right.in .modal-dialog
  transform: translate3d(0px, 0px, 0px)

#modalPeopleDetail button.close
  color: #000000
  font-size: 24px
  position: absolute
  top: 0
  right: 0
  margin: 20px 30px
  opacity: 1

#modalPeopleDetail .modal-dialog
  width: 800px

.loader
  background: url('resources/l.png') center center no-repeat
  display: inline-block
  height: 40px
  width: 40px
  position: absolute
  left: 50%
  top: 50%
  margin: -20px 0 0 -20px
  -webkit-animation: rotate 1s linear infinite
  z-index: 10

#modalPeopleDetail .modal-content
  background: #fff
  vertical-align: top

.people
  background: #fff
  .people-head
    background-color: #ffffff
    color: #fff
    position: relative
  .people-head-bg
    width: 100%
    height: 352px
    position: absolute
    left: 0
    top: 0
    background-size: cover
    background-repeat: no-repeat
    background-position-y: center
    opacity: .1

.people-creator
  padding: 15px 0

.thumbnail-wrapper.d32
  width: 32px
  height: 32px

.m-r-10
  margin-right: 10px

.thumbnail-wrapper
  display: inline-block
  overflow: hidden
  float: left

.thumbnail-wrapper.d32 > *
  line-height: 32px

.thumbnail-wrapper > *
  vertical-align: middle
  width: 100%
  height: 100%
  text-align: center

.thumbnail-wrapper.circular
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%

.thumbnail-wrapper.bordered
  border-color: #3b5998
  border-width: 2px
  border-style: solid

.thumbnail-wrapper.bordered.d32
  width: 36px
  height: 36px

.thumbnail-wrapper.bordered img
  border-radius: 50%
  border: 2px solid #fff

.caret
  display: inline-block
  width: 0
  height: 0
  margin-left: 2px
  vertical-align: middle
  border-top: 4px dashed
  border-right: 4px solid transparent
  border-left: 4px solid transparent

.caret
  color: #c9c8bb

.m-t-15
  margin-top: 15px

.m-l-10
  margin-left: 10px

.people-creator-posted
  padding-top: 7px
  font-size: 15px

.people .people-cover
  padding: 39px 40px
  text-align: center
  position: relative

.people .people-link
  color: #000000
  line-height: 1.4em

.people .people-link:hover
  text-decoration: underline

.people .people-cover .people-ava img
  height: 200px
  width: 300px

.people .people-cover .people-name
  margin-bottom: 15px

.people h1
  margin-top: 20px

.people h1, .people h2
  color: #fff
  line-height: 1em

.people-permalink-i
  background: #ff5252 url('/resources/icon_p.png') center center no-repeat
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35)
  border-radius: 20%
  display: inline-block
  height: 60px
  width: 60px
  line-height: 60px
  text-align: center
  position: absolute
  bottom: 0
  right: 0
  margin: 0 30px -30px 0
  outline: none
  cursor: pointer

.people-permalink-twitter
  background: #FFFFFF url('/Twitter.png') center center no-repeat
  background-size: 40px 40px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35)
  border-radius: 50%
  display: inline-block
  height: 40px
  width: 40px
  line-height: 60px
  text-align: center
  position: absolute
  bottom: 0
  right: 0
  margin: 0 40px 140px 0

.people-permalink-facebook
  background: #5CA4E1 url('/Facebook.png') center center no-repeat
  background-size: 50px 50px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35)
  border-radius: 50%
  display: inline-block
  height: 40px
  width: 40px
  line-height: 60px
  text-align: center
  position: absolute
  bottom: 0
  right: 0
  margin: 0 40px 90px 0

.people-permalink-mail
  background: url('/mail.png') center center no-repeat
  background-size: 40px 40px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35)
  border-radius: 50%
  display: inline-block
  height: 40px
  width: 40px
  line-height: 60px
  text-align: center
  position: absolute
  bottom: 0
  right: 0
  margin: 0 40px 40px 0
  cursor: pointer

.comment-signin
  border-radius: 5px
  background: #f7f7f7
  margin: 50px 20px 40px 20px
  padding: 20px
  text-align: center

.comment-signin p
  font-size: 18px
  margin-bottom: 20px

p
  display: block
  font-weight: normal
  letter-spacing: 0.01em
  line-height: 22px
  margin: 0 0 10px 0
  font-style: normal
  white-space: normal

.comment-signin .btn
  background: #f7f7f7
  font-size: 16px

.comment-list
  display: table
  margin: 40px 0 0 0

.comment-item
  font-size: 15px

.comment-child
  margin-left: 49px

.comment-cell-image
  padding-right: 15px

.comment-cell
  display: table-cell
  vertical-align: top
  padding-bottom: 30px

.comment-cell-main
  width: 100%

.comment-author
  color: #000

.comment-text
  color: #555
  margin: 5px 0

.comment-footer
  color: #555
  opacity: .5

.comment-created
  display: inline-block
  margin-right: 10px

.comment-reply
  display: none
  width: 100%
  .comment-add
    margin-bottom: 0
    padding-bottom: 0

.m-b-20
  margin-bottom: 20px

.m-t-20
  margin-top: 20px

.comment_text
  background: #f7f7f7
  border: none
  border-radius: 8px
  padding: 10px

.comment_text:focus
  border-color: #ccc
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  outline: none

.btn-default
  font-weight: bold
  color: #000

.comment-add
  margin-bottom: 20px
  padding-bottom: 20px
  color: #949494

textarea
  resize: none

.icon-reply:before
  content: '\e80e'
  font-family: "followhunt"

.btn-link
  color: #5e5e5e
  background-color: transparent
  border: none

.btn-link:hover
  color: #000

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled]
  background-color: transparent
  border: none
  text-decoration: none
  outline: none !important

.btn:focus, .btn:active:focus, .btn.active:focus
  outline: none !important
  outline-style: none

.js-reply, .js-reply:hover, .js-reply:focus
  color: #5D5D5D

#modalPeopleDetail .modal-content
  background: #fff
  vertical-align: top

.modal.fade.slide-right .modal-dialog .modal-content
  height: 100%

.modal.fade.slide-right .modal-content
  border-radius: 0px
[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: "followhunt"
  font-style: normal
  font-weight: normal
  display: inline-block
  text-decoration: inherit
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 1em
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



.btn-sign-in
  display: inline-block
  margin: 0 15px
  line-height: 3em
  font-size: 15px
  img
    text-align: center
    height: 60px
    width: 60px

.color-twitter
  color: #55acee!important
  img
    height: 65px
    width: 65px

.color-twitter:hover
  color: #55acee

.color-facebook
  color: #3b5998!important
  img
    height: 66px
    width: 66px
    margin-top: 5px

.color-facebook:hover
  color: #3b5998

.color-instagram
  color: #c9c8bb!important
  .icon-instagram
    background: #c9c8bb

.color-instagram:hover
  color: #c9c8bb

.profile-dropdown-toggle
  background: transparent
  border: none

#loadingModal
  display:    none
  position:   fixed
  z-index:    5000
  top:        0
  left:       0
  height:     100%
  width:      100%
  background: rgba(214, 219, 221, 0.8) url('ajax-loader.gif') 50% 50% no-repeat

body.loading
  overflow: hidden

body.loading #loadingModal
  display: block

@media (max-width: 768px)
  .modal.fill-in .modal-dialog
    padding: 0
    margin: 0
    width: 100%

  .modal.slide-up .modal-dialog
    padding: 0
    margin: 0
    width: 100%

@media (min-width: 768px)
  .modal.stick-up .modal-dialog
    margin: -5px auto

  .modal.slide-up .modal-dialog
    margin: 0 auto

  .modal.fill-in .modal-dialog
    margin: 0 auto

  .modal .modal-content
    box-shadow: none

@media (max-width: 767px)
  #modalPeopleDetail .modal-dialog, #modalAddPeople .modal-dialog
    width: 100%

#new-image-upload
  visibility: hidden
  position: absolute

.post-votes
  width: 100%
  margin: 0
  .post-item-votes-count
    cursor: pointer
    float: left
    font-size: 19px
    color: black
    margin-top: -2px
    -webkit-user-select: none
    .votes-count
      display: block
      font-size: 13px
      font-weight: 700
      margin-top: -12px
  #votes-users
    position: absolute
    width: 50%
    left: 50%
    margin-left: -25%
    .people-thumb
      width: 35px
      height: 35px
      border-radius: 50%
      background-color: #5CA4E1
      outline: none
      cursor: pointer

.slick-slide
  margin: 0 5px

.hero
  display: none
  position: absolute
  background-color: #99CFE4
  height: 250px !important
  width: 200px !important
  z-index: 1000
  border-radius: 5%
  padding-top: 30px
  text-align: center
  top: 95px
  a
    color: black
    font-size: 12pt
    font-weight: bold
    img
      border-radius: 50%
      height: 80px
      width: 80px

.hero:after
  content: ''
  position: absolute
  top: 100%
  left: 50%
  margin-left: -25px
  width: 0
  height: 0
  z-index: 1000
  border-top: solid 25px #99CFE4
  border-left: solid 25px transparent
  border-right: solid 25px transparent

.admin-panel-list
  overflow: hidden
  text-overflow: ellipsis
  padding: 0px 10px
  color: yellow
  white-space: nowrap
  width: 300px
