<template name="add-post.html">
    <div class="modal fade slide-right" id="modalAddPeople" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-xs">
            <div class="modal-content-wrapper">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-content table-block">
                    <div class="add-people-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="add-people-title">Submit an item</h2>

                                    <h3 class="add-people-subtitle">Got a new item in mind? Share it here!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-people-form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form id="formAddPeople" ng-submit="addPost()" role="form" autocomplete="off"
                                          novalidate="novalidate">

                                        <div class="form-group">
                                            <div class="form-group-l">
                                                <div class="form-group-r">
                                                    <div class="form-group-cl">
                                                        <span class="form-icon glyphicon glyphicon-link"></span>
                                                        <span>Title</span>
                                                    </div>
                                                    <div class="form-group-cr">
                                                        <input id="id_social_title" ng-model="newPost.title"
                                                               name="social_url" placeholder="Fashion event, product"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group-l">
                                                <div class="form-group-r">
                                                    <div class="form-group-cl">
                                                        <span class="form-icon glyphicon glyphicon-th-list"></span>
                                                        <span>Category</span>
                                                    </div>
                                                    <div class="form-group-cr">
                                                        <select id="add-event-type" ng-model="newPost.category"
                                                                ng-options="category.title for category in categories">
                                                            <option value='' disabled selected style='display:none;'>
                                                                Please Choose
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group-l">
                                                <div class="form-group-r">
                                                    <div class="form-group-cl">
                                                        <span class="form-icon glyphicon glyphicon-tags"></span>
                                                        <span>Tags</span>
                                                    </div>
                                                    <div class="form-group-cr">
                                                        <input id="id_tags" ng-model="newPost.tags"
                                                               name="social_url" placeholder="E.g. angel, investor"
                                                               data-role="tagsinput" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group-l">
                                                <div class="form-group-r">
                                                    <div class="form-group-cl">
                                                        <span class="form-icon glyphicon glyphicon-link"></span>
                                                        <span>Source</span>
                                                    </div>
                                                    <div class="form-group-cr">
                                                        <input id="id_social_url" ng-model="newPost.source"
                                                               name="social_url" placeholder="http://news.google.com"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group-l">
                                                <div class="form-group-r">
                                                    <div class="form-group-cl">
                                                        <span class="form-icon glyphicon glyphicon-picture"></span>
                                                        <span>Image</span>
                                                    </div>
                                                    <div class="form-group-cr">
                                                        <input id="post-image" type="file" fileread="thumbnail" accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-helptext">
                                            <p>
                                                Got a question? Shoot us an
                                                <a href="mailto:hello@fits.io" title="FAQ">
                                                    email
                                                </a>
                                            </p>
                                        </div>
                                        <div class="form-submit">
                                            <button class="btn btn-lg btn-animated btn-rounded btn-default p-l-30 p-r-30"
                                                    ng-disabled="isInputsValid()"
                                                    type="submit">Post
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>