<template name="admin.html" xmlns="http://www.w3.org/1999/html">
    <meteor-include src="navbar.html"></meteor-include>
    <div id="left-menu" ng-if="isAdmin() || isModerator()">
        <ul>
            <li ng-class="currentTable == 'category' ? 'current-menu-item' : '' "
                ng-click="setCurrentTable('category')"
                ng-if="isAdmin()">
                Categories
            </li>
            <li ng-class="currentTable == 'user' ? 'current-menu-item' : '' "
                ng-click="setCurrentTable('user')"
                ng-if="isAdmin()">
                Users
            </li>
            <li ng-class="currentTable == 'subscriber' ? 'current-menu-item' : '' "
                ng-click="setCurrentTable('subscriber')"
                ng-if="isAdmin()">
                Subscribers
            </li>
            <li ng-class="currentTable == 'post' ? 'current-menu-item' : '' "
                ng-click="setCurrentTable('post')"
                ng-if="isAdmin()">
                Posts
            </li>
            <li ng-class="currentTable == 'under-moderation' ? 'current-menu-item' : '' "
                ng-click="setCurrentTable('under-moderation')"
                ng-if="isAdmin() || isModerator()">
                Under Moderation Posts
            </li>
        </ul>
    </div>
    <div id="main-content" ng-if="isAdmin() || isModerator()">
        <div ng-if="currentTable == 'category' && isAdmin">
            <meteor-include src="categories-list.html"></meteor-include>
        </div>
        <div ng-if="currentTable == 'user' && isAdmin()">
            <meteor-include src="users-list.html"></meteor-include>
        </div>
        <div ng-if="currentTable == 'subscriber' && isAdmin()">
            <meteor-include src="subscribers-list.html"></meteor-include>
        </div>
        <div ng-if="currentTable == 'post' && isAdmin()">
            <meteor-include src="posts-list.html"></meteor-include>
        </div>
        <div ng-if="currentTable == 'under-moderation' && (isAdmin() || isModerator())">
            <meteor-include src="under-moderation-list.html"></meteor-include>
        </div>
    </div>
    <div style="padding: 100px" ng-if="!isAdmin() && !isModerator()">
        Only Super Admin and Moderators could see this content!
    </div>
    <div class="modal" id="loadingModal"></div>
</template>