<template name="forgot-password.html" xmlns="http://www.w3.org/1999/html">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="padding: 200px 0">
                    <div class="subscription-inner">
                        <form ng-submit="restore(restoreEmail)" role="form"
                              autocomplete="off" novalidate="novalidate">
                            <div class="col-md-2 col-xs-12" style="font-size: 17pt">
                                <div class="inner text">
                                    Your email:
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="inner">
                                    <input class="form-control" id="restore_email" maxlength="254" name="email"
                                           placeholder="Email" ng-model="restoreEmail" required="required" type="email"
                                           aria-required="true" ng-change="hideErrors()">
                                </div>
                                <span id="emailNotFound" class="warning" style="float: left;">Email not found!</span>
                            </div>
                            <div class="col-md-2 col-xs-12 p-l-0">
                                <button class="btn btn-animated btn-rounded btn-default p-l-30 p-r-30"
                                        type="button" ng-click="goToHomePage()">Cancel
                                </button>
                            </div>
                            <div class="col-md-2 col-xs-12 p-l-0">
                                <button class="btn btn-animated btn-rounded btn-default p-l-30 p-r-30"
                                        type="submit" ng-disabled="!isEmailValid(restoreEmail)">Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
