<template name="main.html" xmlns="http://www.w3.org/1999/html">
    <div class="page-container">
        <meteor-include src="header.html"></meteor-include>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="social-filter">
                        <a class="btn-social-filter" ng-repeat="category in categories" title="[[category.title]]"
                           ng-class="isCategoryDisabled(category._id)? 'btn-social-filter-active' : ''"
                           ng-click="filterByCategory(category)" href="">
                            <img class="category-image" src="[[category.image.small]]"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-inner">
                <!--<div class="subscription hidden-xs" ng-if="!$root.currentUser">-->
                <!--<div class="container">-->
                <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                <!--<div class="subscription-inner">-->
                <!--<form id="formAddSubscription" ng-submit="subscribe(subscribeEmail)" role="form"-->
                <!--autocomplete="off" novalidate="novalidate">-->
                <!--<div class="col-md-6 col-xs-12">-->
                <!--<div class="inner text">-->
                <!--Get a summary of the best products, every day.-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-xs-8">-->
                <!--<div class="inner">-->
                <!--<input class="form-control" id="subscribe_email" maxlength="254" name="email"-->
                <!--placeholder="Email" ng-model="subscribeEmail" required="required" type="text"-->
                <!--aria-required="true">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-2 col-xs-4 p-l-0">-->
                <!--<button class="btn btn-animated btn-rounded btn-default p-l-30 p-r-30" id="submit-subscription"-->
                <!--type="submit">Join-->
                <!--</button>-->
                <!--<a class="p-l-20 hidden-xs" ng-click="hideSubscriptionForm()">-->
                <!--<i id="close_subscription" class="icon-close"></i>-->
                <!--</a>-->
                <!--</div>-->
                <!--</form>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div ng-repeat="readyToUsePost in readyToUsePosts | orderBy:'-created' | limitTo:postsToShow">
                    <div class="container container-head" ng-if="filteredPosts.length > 0">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="day-title">
                                    <h2 class="container-title" ng-if="isToday(readyToUsePost.created)">Today</h2>
                                    <span class="container-subtitle">
                                        [[getMonth(readyToUsePost.created)]]
                                        [[getDay(readyToUsePost.created)]],
                                        [[getYear(readyToUsePost.created)]]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container container-date">
                        <div class="row">
                            <div class="col-xs-12 peoples">
                                <div class="people-list">
                                    <div class="people-item"
                                         ng-repeat="post in (filteredPosts = (readyToUsePost.posts | filter:isPostOutOfCategory | filter:isPostFilteredByTag | orderBy:[getVotesCounts, 'title']))">
                                        <div class="people-item-cell people-item-cell1"
                                             ng-click="$root.currentUser ? vote(post._id) : logIn()">
                                            <div class="people-item-votes-count">
                                                <span class="glyphicon glyphicon-triangle-top"></span>
                                                <span class="votes-count">[[post.votes.length]]</span>
                                            </div>
                                        </div>
                                        <div class="people-item-cell people-item-cell2" ng-init="initialize()"
                                             data-toggle="modal"
                                             ui-sref="home.post({id: '[[post._id]]'})">
                                            <div class="people-item-ava-link">
                                                <img class="people-item-ava"
                                                     ng-src="[[post.image.thumb]]"
                                                     alt="[[post.title]]">
                                            </div>
                                        </div>
                                        <div class="people-item-cell people-item-cell3"
                                             data-toggle="modal"
                                             ui-sref="home.post({id: '[[post._id]]'})">
                                            <a href="[[post.source]]" class="people-item-title">[[post.title]]</a>

                                            <div class="people-item-tags">
                                                <div class="tag-item" ng-repeat="tag in post.tags"
                                                     ng-click="filterByTag(tag, $event)">
                                                    <a class="tag">[[tag]]</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="people-item-cell people-item-cell4">
                                            <div class="people-item-created-by hidden-xs">
                                                <a title="[[getLastCommenter(post).name]]">
                                                    <img class="people-item-created-by-ava"
                                                         ng-src="[[getLastCommenter(post).thumbnail]]" alt="" width="32"
                                                         height="32">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="people-item-cell people-item-cell5" data-toggle="modal"
                                             data-target="#modalPeopleDetail">
                                            <i class="icon-comments"></i> [[getCommentsCount(post.comments)]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ajax-loader">
                    <div id="bottom-indicator" style="text-align: center; font-size: 20pt">
                        <span>Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
    <meteor-include src="popup-message.html"></meteor-include>
    <meteor-include src="verify-confirmation.html"></meteor-include>
    <meteor-include src="subscription-confirmation.html"></meteor-include>
    <meteor-include src="add-post.html"></meteor-include>
    <meteor-include src="change-profile.html"></meteor-include>
    <meteor-include src="sign-in.html"></meteor-include>
    <div class="modal" id="loadingModal"></div>
</template>
