<template name="post-details.html">
    <div role="dialog" tabindex="-1" id="modalPeopleDetail" ng-controller="PostDetailsCtrl" ui-view="modal"
         autoscroll="false"
         class="modal modal-xs fade slide-right">
        <div id="user-details" class="hero">
            <a class="people-link">
                <img width="120" height="120" ng-src="[[votedUser.profile.thumbnail]]">
            </a>

            <h1 class="people-name">
                <a class="people-link">[[votedUser.profile.name]]</a>
            </h1>
        </div>
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
            <img src="close.png" style="width: 24px; height: 24px;">
        </button>
        <div class="modal-dialog">
            <div class="modal-content-wrapper">
                <div class="loader" style="display: none;"></div>
                <div class="modal-content">
                    <div class="people">
                        <div class="people-head">
                            <div class="people-creator">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="thumbnail-wrapper d32 circular inline m-r-10">
                                                <img width="32" height="32" alt="[[author.profile.name]]"
                                                     ng-src="[[author.profile.thumbnail]]">
                                            </span>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="people-cover">
                                            <div class="people-ava">
                                                <a title="[[post.title]]" target="_blank"
                                                   href="[[post.source]]" class="people-link">
                                                    <img width="120" height="120" alt="[[post.title]]"
                                                         ng-src="[[post.image.thumb]]">
                                                </a>
                                            </div>
                                            <h1 class="people-name">
                                                <a title="[[post.title]]" target="_blank" href="[[post.source]]"
                                                   class="people-link">[[post.title]]</a>
                                            </h1>

                                            <div class="people-item-tags">
                                                <div class="tag-item" ng-repeat="tag in post.tags">
                                                    <a class="tag" ng-click="goHome(tag)">[[tag]]</a>
                                                </div>
                                            </div>
                                            <div class="post-votes">
                                                <div class="post-item-votes-count" ng-click="$root.currentUser ? vote(post._id) : logIn()">
                                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                                    <span class="votes-count">[[post.votes.length]]</span>
                                                </div>
                                                <div id="votes-users">
                                                    <img title="[[getUserName(user)]]" class="people-thumb" ng-src="[[getUserThumbnail(user)]]"
                                                         id="thumb-[[user]]"
                                                         ng-repeat="user in post.votes track by $index">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a ng-click="showLink()" class="people-permalink-i"></a>
                            </div>
                        </div>

                        <div class="comments">
                            <div class="comment-signin" ng-if="!$root.currentUser">
                                <p>Please Sign In to Comment</p>
                                <a class="btn btn-default btn-rounded btn-lg" data-toggle="modal"
                                   data-target="#modalSignIn">Sign In</a>
                            </div>
                            <div class="comment-list">
                                <div class="container-fluid">
                                    <div ng-repeat="(parentIndex, comment) in post.comments" class="comment-item">
                                        <div class="comment-cell comment-cell-image">
                                            <span class="thumbnail-wrapper d32 circular pull-left">
                                                <img width="32" height="32" alt="[[getUserName(comment.author)]]"
                                                     ng-src="[[getUserThumbnail(comment.author)]]">
                                            </span>
                                        </div>
                                        <div class="comment-cell comment-cell-main">
                                            <div class="comment-author">[[getUserName(comment.author)]]</div>
                                            <div class="comment-text">[[comment.message]]</div>
                                            <div class="comment-footer">
                                                <span class="comment-created">
                                                    <span ng-if="getDate(comment.created).months > 1">[[getDate(comment.created).months]]&nbsp;months</span>
                                                    <span ng-if="getDate(comment.created).months == 1">[[getDate(comment.created).months]]&nbsp;month</span>

                                                    <span ng-if="getDate(comment.created).weeks > 1 &&
                                                                getDate(comment.created).months < 1">
                                                        [[getDate(comment.created).weeks]]&nbsp;weeks
                                                    </span>
                                                    <span ng-if="getDate(comment.created).weeks == 1 &&
                                                                getDate(comment.created).months < 1">
                                                        [[getDate(comment.created).weeks]]&nbsp;week
                                                    </span>

                                                    <span ng-if="getDate(comment.created).days > 1 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1">
                                                        [[getDate(comment.created).days]]&nbsp;days
                                                    </span>
                                                    <span ng-if="getDate(comment.created).days == 1 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1">
                                                        [[getDate(comment.created).days]]&nbsp;day
                                                    </span>

                                                    <span ng-if="getDate(comment.created).hours > 1 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1 &&
                                                                getDate(comment.created).days < 1">
                                                        [[getDate(comment.created).hours]]&nbsp;hours
                                                    </span>
                                                    <span ng-if="getDate(comment.created).hours == 1 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1 &&
                                                                getDate(comment.created).days < 1">
                                                        [[getDate(comment.created).hours]]&nbsp;hour
                                                    </span>

                                                    <span ng-if="getDate(comment.created).minutes > 1 &&
                                                                getDate(comment.created).hours < 1 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1 &&
                                                                getDate(comment.created).days < 1">
                                                        [[getDate(comment.created).minutes]]&nbsp;minutes
                                                    </span>
                                                    <span ng-if="getDate(comment.created).minutes == 1 &&
                                                                getDate(comment.created).hours < 1 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1 &&
                                                                getDate(comment.created).days < 1">
                                                        [[getDate(comment.created).minutes]]&nbsp;minute
                                                    </span>
                                                    <span ng-if="getDate(comment.created).minutes == 0 &&
                                                                getDate(comment.created).months < 1 &&
                                                                getDate(comment.created).weeks < 1 &&
                                                                getDate(comment.created).days < 1 &&
                                                                getDate(comment.created).hours < 1">
                                                        [[getDate(comment.created).minutes]]&nbsp;minute
                                                    </span>
                                                    &nbsp;ago
                                                </span>
                                                <a title="Reply" href="#" class="js-reply"
                                                   data-comment-id="[[parentIndex]]"
                                                   ng-click="reply(parentIndex)">
                                                    <i class="icon-reply"></i>
                                                    Reply
                                                </a>
                                            </div>
                                        </div>

                                        <div class="comment-reply" id="reply_[[parentIndex]]">
                                            <div class="comment-add m-b-20" ng-if="$root.currentUser">
                                                <form method="post" ng-submit="addComment(parentIndex, -1)"
                                                      class="form-comment m-t-20"
                                                      novalidate="novalidate">
                                                    <div class="comment-item comment-child">
                                                        <div class="comment-cell comment-cell-image">
                                                            <span class="thumbnail-wrapper d32 circular pull-left">
                                                                <img width="32" height="32"
                                                                     alt="[[$root.currentUser.profile.name]]"
                                                                     ng-src="[[$root.currentUser.profile.thumbnail]]">
                                                            </span>
                                                        </div>
                                                        <div class="comment-cell comment-cell-main">
                                                            <div>
                                                                <textarea rows="3" required="required"
                                                                          id="message_[[parentIndex]]"
                                                                          placeholder="What do you think about this item?"
                                                                          name="text" icols="40"
                                                                          class="form-control full-width comment_text"
                                                                          aria-required="true"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <button data-comment-id="[[parentIndex]]" type="button"
                                                                    ng-click="cancelReply(parentIndex, -1)"
                                                                    class="btn btn-link js-comment-cancel">Cancel
                                                            </button>
                                                            <button type="submit" class="btn btn-rounded btn-default">
                                                                Comment
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="m-t-20 m-b-20 text-center" ng-if="!$root.currentUser">
                                                <a class="btn btn-default btn-rounded" data-toggle="modal"
                                                   data-target="#modalSignIn">Sign In</a>
                                            </div>
                                        </div>


                                        <div ng-repeat="(childIndex, com) in comment.comments"
                                             class="comment-item comment-child">
                                            <div class="comment-cell comment-cell-image">
                                            <span class="thumbnail-wrapper d32 circular pull-left">
                                                <img width="32" height="32" alt=""
                                                     ng-src="[[getUserThumbnail(com.author)]]">
                                            </span>
                                            </div>
                                            <div class="comment-cell comment-cell-main">
                                                <div class="comment-author">[[getUserName(com.author)]]</div>
                                                <div class="comment-text">[[com.message]]</div>
                                                <div class="comment-footer">
                                                    <span class="comment-created">
                                                    <span ng-if="getDate(com.created).months > 1">[[getDate(com.created).months]]&nbsp;months</span>
                                                    <span ng-if="getDate(com.created).months == 1">[[getDate(com.created).months]]&nbsp;month</span>

                                                    <span ng-if="getDate(com.created).weeks > 1 &&
                                                                getDate(com.created).months < 1">
                                                        [[getDate(com.created).weeks]]&nbsp;weeks
                                                    </span>
                                                    <span ng-if="getDate(com.created).weeks == 1 &&
                                                                getDate(com.created).months < 1">
                                                        [[getDate(com.created).weeks]]&nbsp;week
                                                    </span>

                                                    <span ng-if="getDate(com.created).days > 1 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1">
                                                        [[getDate(com.created).days]]&nbsp;days
                                                    </span>
                                                    <span ng-if="getDate(com.created).days == 1 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1">
                                                        [[getDate(com.created).days]]&nbsp;day
                                                    </span>

                                                    <span ng-if="getDate(com.created).hours > 1 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1 &&
                                                                getDate(com.created).days < 1">
                                                        [[getDate(com.created).hours]]&nbsp;hours
                                                    </span>
                                                    <span ng-if="getDate(com.created).hours == 1 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1 &&
                                                                getDate(com.created).days < 1">
                                                        [[getDate(com.created).hours]]&nbsp;hour
                                                    </span>

                                                    <span ng-if="getDate(com.created).minutes > 1 &&
                                                                getDate(com.created).hours < 1 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1 &&
                                                                getDate(com.created).days < 1">
                                                        [[getDate(com.created).minutes]]&nbsp;minutes
                                                    </span>
                                                    <span ng-if="getDate(com.created).minutes == 1 &&
                                                                getDate(com.created).hours < 1 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1 &&
                                                                getDate(com.created).days < 1">
                                                        [[getDate(com.created).minutes]]&nbsp;minute
                                                    </span>
                                                    <span ng-if="getDate(com.created).minutes == 0 &&
                                                                getDate(com.created).months < 1 &&
                                                                getDate(com.created).weeks < 1 &&
                                                                getDate(com.created).days < 1 &&
                                                                getDate(com.created).hours < 1">
                                                        [[getDate(com.created).minutes]]&nbsp;minute
                                                    </span>
                                                    &nbsp;ago
                                                </span>
                                                    <a title="Reply" href="#" class="js-reply"
                                                       data-comment-id="[[parentIndex]]_[[childIndex]]"
                                                       ng-click="reply(parentIndex + '_' + childIndex)">
                                                        <i class="icon-reply"></i>
                                                        Reply
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="comment-reply" id="reply_[[parentIndex]]_[[childIndex]]">
                                                <div class="comment-add m-b-20" ng-if="$root.currentUser">
                                                    <form method="post" ng-submit="addComment(parentIndex, childIndex)"
                                                          class="form-comment m-t-20" novalidate="novalidate">
                                                        <div class="comment-item comment-child">
                                                            <div class="comment-cell comment-cell-image">
                                                            <span class="thumbnail-wrapper d32 circular pull-left">
                                                                <img width="32" height="32"
                                                                     alt="[[$root.currentUser.profile.name]]"
                                                                     ng-src="[[$root.currentUser.profile.thumbnail]]">
                                                            </span>
                                                            </div>
                                                            <div class="comment-cell comment-cell-main">
                                                                <div class="">
                                                                <textarea rows="3" required="required"
                                                                          id="message_[[parentIndex]]_[[childIndex]]"
                                                                          placeholder="What do you think about this item?"
                                                                          name="text" cols="40"
                                                                          class="form-control full-width comment_text"
                                                                          aria-required="true"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="text-right">
                                                                <button type="button"
                                                                        data-comment-id="[[parentIndex]]_[[childIndex]]"
                                                                        ng-click="cancelReply(parentIndex, childIndex)"
                                                                        class="btn btn-link js-comment-cancel">Cancel
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-rounded btn-default">
                                                                    Comment
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="m-t-20 m-b-20 text-center" ng-if="!$root.currentUser">
                                                    <a class="btn btn-default btn-rounded" data-toggle="modal"
                                                       data-target="#modalSignIn">Sign In</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid" ng-if="$root.currentUser">
                                <div class="comment-add">
                                    <form method="post" ng-submit="addRootComment()" class="form-comment m-t-20"
                                          id="formAddComment_bottom_" novalidate="novalidate">
                                        <div class="comment-item">
                                            <div class="comment-cell comment-cell-image">
                                                <span class="thumbnail-wrapper d32 circular pull-left">
                                                    <img width="32" height="32" alt="[[$root.currentUser.profile.name]]"
                                                         ng-src="[[$root.currentUser.profile.thumbnail]]">
                                                </span>
                                            </div>
                                            <div class="comment-cell comment-cell-main">
                                                <div class="">
                                                <textarea rows="3" required="required" id="new-message"
                                                          placeholder="What do you think about this item?"
                                                          name="text" cols="40"
                                                          class="form-control full-width comment_text"
                                                          aria-required="true"></textarea>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-rounded btn-default">Comment
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <meteor-include src="share-email.html"></meteor-include>
    <meteor-include src="share-popup.html"></meteor-include>
</template>