<template name="sign-in.html">
    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="login-wrap">
                <div class="close-button">
                    <a data-dismiss="modal">
                        <i class="icon-close"></i>
                    </a>
                </div>
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                    <label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up">
                    <label for="tab-2" class="tab">Sign Up</label>

                    <div class="login-form">
                        <form ng-submit="signIn()">
                            <div class="sign-in-htm">
                                <div class="group social-buttons">
                                    <a class="btn-sign-in color-twitter" href="" ng-click="loginWith('twitter')">
                                        <img src="/Twitter.png">
                                    </a>
                                    <a class="btn-sign-in color-facebook" href="" ng-click="loginWith('facebook')">
                                        <img src="/Facebook.png">
                                    </a>
                                    <a class="btn-sign-in color-instagram" href=""
                                       ng-click="loginWith('instagram')">
                                        <img src="/Instagram.png">
                                    </a>
                                </div>
                                <div class="group">
                                    <label for="username" class="label">Email</label>
                                    <input id="username" type="email" ng-change="hide('#nonExistantUser')"
                                           ng-model="email" class="input">
                                </div>
                                <div class="group">
                                    <label for="password" class="label">Password</label>
                                    <input id="password" ng-model="password" type="password" class="input"
                                           data-type="password">
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                </div>
                                <span class="warning" id="nonExistantUser">Wrong email or password!</span>

                                <div class="group">
                                    <input ng-disabled="isExistantUserInputsEmpty()" type="submit" class="button"
                                           value="Sign In">
                                </div>
                                <div class="hr"></div>
                                <div class="foot-lnk">
                                    <a ng-click="forgotPassword()">Forgot Password?</a>
                                </div>
                            </div>
                        </form>
                        <form ng-submit="signUp()">
                            <div class="sign-up-htm">
                                <div class="group">
                                    <label for="new-username" class="label">Username</label>
                                    <input id="new-username" ng-model="newUser.name" type="text" class="input">
                                </div>
                                <div class="group">
                                    <label for="new-user-password" class="label">Password</label>
                                    <input id="new-user-password" ng-model="newUser.password" type="password"
                                           class="input" ng-change="hide('#passwordsMismatch')" data-type="password">
                                </div>
                                <div class="group">
                                    <label for="new-user-password-repeat" class="label">Repeat Password</label>
                                    <input id="new-user-password-repeat" ng-model="newUser.repeatPassword"
                                           type="password" ng-change="hide('#passwordsMismatch')" class="input"
                                           data-type="password">
                                </div>
                                <span class="warning" id="passwordsMismatch">Passwords don't match!</span>

                                <div class="group">
                                    <label for="new-user-email" class="label">Email Address</label>
                                    <input id="new-user-email" ng-model="newUser.email" type="email"
                                           ng-change="hide('#incorrectEmailFormat, #duplicateEmail')" class="input">
                                </div>
                                <span class="warning" id="duplicateEmail">User with this email already exists!</span>
                                <span class="warning" id="incorrectEmailFormat">Wrong email format!</span>

                                <div class="group">
                                    <input ng-disabled="isNewUserInputsEmpty()" type="submit" class="button" value="Sign Up">
                                </div>
                                <div class="hr"></div>
                                <div class="foot-lnk">
                                    <label for="tab-1">Already Member?</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>