{{#if email}}
Hi!

{{name}} thought you might like this fits find.

Check out the {{title}} on <span>fits.io</span>: <a style="text-decoration: none" href="{{url}}" class="btn-primary">Check it out!</a>
<br />
Want to see more stuff from fits? Click <a href="{{subscribeUrl}}">here</a> to subscribe to our newsletter
{{else}}
Hey there! Welcome aboard!
{{/if}}