<template name="users-list.html">
    <div ng-controller="UsersListCtrl">
        <div class="panel-header">
            <h6 class="header-title">
                Users
                <i class="glyphicon glyphicon-th-list"></i>
            </h6>
        </div>
        <div class="search-panel">
            <div class="search-value"><input type="text" ng-model="search.profile.name"></div>
            <div class="select-size">
                <select ng-model="showvalue" ng-init="showvalue = 10"
                        ng-options="size for size in [10, 25, 50, 100]"></select>
            </div>
        </div>
        <div class="panel-content">
            <div>
                <div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Info</th>
                            <th width="5%">Moderator</th>
                            <th width="5%">Remove</th>
                        </tr>
                        <tr ng-repeat="user in users | filter: search| limitTo: showvalue" class="list-item">
                            <td>
                                <img ng-src="[[user.profile.thumbnail]]" class="backend-ava pull-left"/>

                                <div style="overflow: hidden; text-overflow: ellipsis; padding: 0px 10px; font-size: 12pt">
                                    [[user.profile.name]]
                                </div>
                                <div class="admin-panel-list">
                                    [[user.emails[0].address]]
                                </div>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <input ng-disabled="isSuperAdmin(user)" type="checkbox" ng-checked="user.roles.indexOf('moderator') > -1"
                                       ng-click="toggleModeratorRights(user)">
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <div ng-disabled="isSuperAdmin(user)" class="btn btn-sm btn-danger" ng-click="removeUser(user)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
