<template name="subscribers-list.html">
    <div ng-controller="SubscribersListCtrl">
        <div class="panel-header">
            <h6 class="header-title">
                Subscribers
                <i class="glyphicon glyphicon-th-list"></i>
            </h6>
        </div>
        <div class="search-panel">
            <div class="search-value"><input type="text" ng-model="search.email"></div>
            <div class="select-size">
                <select ng-model="showvalue" ng-init="showvalue = 10"
                        ng-options="size for size in [10, 25, 50, 100]"></select>
            </div>
        </div>
        <div class="panel-content">
            <div>
                <div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Info</th>
                            <th width="5%">Remove</th>
                        </tr>
                        <tr ng-repeat="subscriber in subscribers | filter: search| limitTo: showvalue" class="list-item">
                            <td>
                                <img src="/subscribe.gif" class="backend-ava pull-left"/>

                                <div style="overflow: hidden; text-overflow: ellipsis; padding: 0px 10px; font-size: 12pt">
                                    [[subscriber.email]]
                                </div>
                                <div style="overflow: hidden; text-overflow: ellipsis; padding: 0px 10px; color: yellow">
                                </div>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <div class="btn btn-sm btn-danger" ng-click="removeSubscriber(subscriber)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
