<template name="popup-message.html">
    <div class="modal fade" role="dialog" id="popup-confirmation" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title text-center" id="gridSystemModalLabel">Confirmation!</h2>
                </div>
                <div class="modal-body text-center" style="font-size: 16pt;">
                    Your post will be displayed in the list after moderator approves it.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>