<template name="share-popup.html">
    <div class="modal fade" role="dialog" id="shareLink">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="share-link">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title text-center">Share link</h2>
                    </div>
                    <div class="input-group" style="padding: 20px">
                        <span class="input-group-addon">URL</span>
                        <input type="text" class="form-control" readonly
                               aria-describedby="basic-addon1" id="sharing-link"
                               onClick="this.setSelectionRange(0, this.value.length)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>