<template name="share-email.html">
    <div class="modal fade" role="dialog" id="shareViaEmail" ng-controller="PostDetailsCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form ng-submit="sharePostViaEmail(emailToShare)" id="share-via-email">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title text-center">Share via email</h2>
                    </div>
                    <div class="input-group" style="padding: 20px">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Email"
                               aria-describedby="basic-addon1" ng-change="emailChanged()" ng-model="emailToShare" id="sharing-email">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" id="share-button" value="OK">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>