<template name="categories-list.html">
    <div ng-controller="ArtistsListCtrl">
        <div class="panel-header">
            <h6 class="header-title">
                Categories
                <i class="glyphicon glyphicon-th-list"></i>
            </h6>
            <a class="btn btn-danger btn-sm pull-right new-row-btn" data-toggle="modal"
               data-target="#add-artist-modal">
                Add Row
            </a>
        </div>
        <div class="search-panel">
            <div class="search-value">
                <input type="text" ng-model="search.title"></div>
            <div class="select-size">
                <select ng-model="showvalue" ng-init="showvalue = 10"
                        ng-options="size for size in [10, 25, 50, 100]"></select>
            </div>
        </div>
        <div class="panel-content">
            <div>
                <div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Info</th>
                            <th width="5%">Remove</th>
                        </tr>
                        <tr ng-repeat="category in categories | filter: search| limitTo: showvalue" class="list-item">
                            <td>
                                <img ng-src="[[category.image.small]]" class="backend-ava pull-left"/>

                                <div style="overflow: hidden; text-overflow: ellipsis;padding: 0px 10px; font-size: 12pt">
                                    [[category.title]]
                                </div>
                                <div class="admin-panel-list">
                                    [[category.description]]
                                </div>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <div class="btn btn-sm btn-danger" ng-click="removeCategory(category._id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <meteor-include src="category-add-popup.html"></meteor-include>
                </div>
            </div>
        </div>
    </div>
</template>
