<template name="category-add-popup.html">
    <form role="form" ng-controller="CategoryAddCtrl">
        <div class="modal fade" id="add-artist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content new-row-popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="modal-label">Enter parameters for a new category</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="add-title">Title:</label>
                                <input class="form-control" id="add-title" ng-model="newCategory.title"
                                       placeholder="New Fashion Event">
                            </div>
                            <div class="form-group">
                                <label for="add-artist" style="float: left">Description:</label>
                                <textarea id="add-artist" class="form-control" rows="5"
                                          ng-model="newCategory.description" name="content"></textarea>
                            </div>
                            <div class="form-group form-inline">
                                <input id="add-pc" type="radio" name="imageUpload" value="pc" ng-model="method" checked>
                                <label for="add-pc">Image upload:</label>
                                <input type="file" id="add-image-upload" fileread="avatar" accept="image/*"
                                       ng-disabled="method == 'url'">

                                <p class="help-block">Choose from your computer.</p>

                                <input id="add-url" type="radio" name="imageUpload" value="url" ng-model="method">
                                <label for="add-url">Image URL:</label>
                                <input type="url" class="form-control" id="add-image-url"
                                       ng-model="newCategory.image.original" ng-disabled="method == 'pc'">
                                <img ng-src="[[newCategory.image.original]]" height="30px"
                                     ng-if='newCategory.image.original'>

                                <p class="help-block">or write URL of your image</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-sm btn-primary"
                                ng-disabled="isInputValid()"
                                ng-click="addCategory()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>