<template name="under-moderation-list.html">
    <div ng-controller="UnderModerationListCtrl">
        <div class="panel-header">
            <h6 class="header-title">
                Under Moderation Posts
                <i class="glyphicon glyphicon-th-list"></i>
            </h6>
        </div>
        <div class="search-panel">
            <div class="search-value"><input type="text" ng-model="search.title"></div>
            <div class="select-size">
                <select ng-model="showvalue" ng-init="showvalue = 10" ng-options="size for size in [10, 25, 50, 100]"></select>
            </div>
        </div>
        <div class="panel-content">
            <div>
                <div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Info</th>
                            <th width="5%">Approve</th>
                            <th width="5%">Edit</th>
                            <th width="5%">Remove</th>
                        </tr>
                        <tr ng-repeat="underModeration in underModerationPosts | filter: search| limitTo: showvalue" class="list-item">
                            <td>
                                <img ng-src="[[underModeration.image.small]]" class="backend-ava pull-left" />
                                <div style="overflow: hidden; text-overflow: ellipsis; padding: 0px 10px; font-size: 12pt">
                                    [[underModeration.title]]
                                </div>
                                <div class="admin-panel-list">
                                    [[underModeration.source]]
                                </div>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <div class="btn btn-sm btn-success" ng-click="approvePost(underModeration)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <div class="btn btn-sm btn-info" ng-click="editPost(underModeration)" data-toggle="modal"
                                     data-target="#edit-post-modal">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </div>
                            </td>
                            <td style="vertical-align: middle; text-align: center">
                                <div class="btn btn-sm btn-danger" ng-click="removePost(underModeration._id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <meteor-include src="under-moderation-edit.html"></meteor-include>
                </div>
            </div>
        </div>
    </div>
</template>
