<template name="under-moderation-edit.html">
    <form role="form" ng-controller="EditUnderModerationCtrl">
        <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content new-row-popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="editModalLabel">Edit information of existing POST</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group form-inline">
                                <label for="edit-name">Title:</label>
                                <input type="text" class="form-control" id="edit-name" ng-model="post.title"
                                       placeholder="Name">

                            </div>
                            <div class="form-group form-inline">
                                <label for="add-event-type">Category:</label>
                                <select id="add-event-type" ng-model="post.category" class="form-control"
                                        ng-options="category._id as category.title for category in categories"
                                        style="min-width: 100px">
                                </select>
                            </div>
                            <div class="form-group form-inline">
                                <label for="id_social_url">Source:</label>
                                <input id="id_social_url" ng-model="post.source"
                                       class="form-control" placeholder="http://news.google.com"
                                       type="text">
                            </div>
                            <div class="form-group form-inline">
                                <label for="id_social_url">Date:</label>
                                <input id="datepicker"
                                       class="form-control" type="text">
                            </div>
                            <div class="form-group form-inline">
                                <input id="edit-pc" type="radio" name="imageUpload" value="pc"
                                       ng-model="method" checked>
                                <label for="edit-pc">Image upload:</label>
                                <input type="file" id="edit-image-upload"
                                       fileread="thumbnail" accept="image/*" ng-disabled="method == 'url'">

                                <p class="help-block">Choose from your computer.</p>

                                <input id="edit-url" type="radio" name="imageUpload" value="url" ng-model="method">
                                <label for="edit-url">Image URL:</label>
                                <input type="text" id="edit-image-url" class="form-control"
                                       ng-model="post.image.original" ng-disabled="method == 'pc'">
                                <img ng-src="[[post.image.original]]" height="30px"
                                     ng-if='post.image.original'>

                                <p class="help-block">or write URL of your image</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-sm btn-primary" ng-click="updatePost()"
                                ng-disabled="!post.category || !post.title ||
                                !post.source || !thumbnail && method=='pc' ||
                                !post.image.original && method=='url'">
                            Edit Post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>